#header {
    color: blue;
    text-align: center;
    padding: 5px;
    font-size:25px;
}


#nav {
    line-height: 10px;
    background-color: #eeeeee;
    color: green;
    height: 70px;
    width: 100%;
    float: left;
    padding: 5px;
    border: 1px #eeeeee;
    font-size:25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-button {
    background-color: forestgreen;
    color: white;
    border: none;
    padding: 20px 60px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    border-radius: 10px; /* Coins arrondis */
    cursor: pointer;
}


#section {

    text-indent: 5px;
    width: auto;
    float: left;
    width: 1200px;
    height: 640px;
    color : green;
    background:  #BFEE90;
    font-size:25px;

}


.gym-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


h2{
    color: hotpink;
}





#rightcolumn
{
    margin-left: 1200px;
    padding-right:200px;
    padding-bottom:1px;
}
