


#logo{

    height: 20px;
    top: 30px;
    left: 10px;

}

#nav {
    line-height: 10px;
    background-color: lightgrey;
    color: darkseagreen;
    height: 50px;
    width: 100%;
    float: left;
    padding: 5px;
    border: 10px #eeeeee;
    font-size:25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}


.nav-button {
    background-color: #38b44b;
    color: white;
    border: none;
    padding: 10px 30px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    border-radius: 40px; /* Coins arrondis */
    cursor: pointer;
    text-decoration: none;
}
.nav-button:hover {
    background-color: #2c8533;
}






#background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('mon_compt.jpg');
    background-size: cover;
    z-index: -1;
}









.registration-section {

    margin-top: 50px;

    text-align: center;

}

.registration-section h2 {
    font-size: 30px;
    color: #333;

    color: blanchedalmond;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    color: blanchedalmond;
}

label {
    margin-top: 10px;
}

input {
    padding: 8px;
    margin-bottom: 15px;
}

button {
    background-color: #38b44b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
